# Ignore node_modules folder
/node_modules/

# Ignore logs folder
/logs/

# Ignore env file
.env

# Ignore jest coverage folder
/coverage/

# Ignore VSCode settings folder
.vscode/

# Ignore npm and yarn lock files
package-lock.json
yarn.lock

# Ignore API keys and credentials
config/*.key
config/*.pem

# Ignore build folder
/build/
